.flex
  %article.bg-white.group.relative.rounded-lg.overflow-hidden.shadow-lg.mb-12.white-board
    %h2.text-1xl.font-extrabold.text-gray-600.text-center.mt-16
      = link_to article.title, article_path(article)
    .relative.flex.justify-center.mt-8
      = image_tag article.image.to_s
    .px-3.py-4
      %h3.text-sm.text-gray-500.pb-2
      - if article.description.present?
        %p.text-1xl.text-base.font-semibold.text-gray-600
          = safe_join(article.description.split("\n"))
      %p.text-1xl.text-base.font-semibold.text-gray-600.text-right
        = l article.created_at, format: :long
      %p.text-1xl.text-base.font-semibold.text-gray-600.text-right
        = safe_join(article.user.name.split("\n"))
      .flex.flex-wrap.justify-center.my-8
        - if logged_in?
          - if current_user.own?(article)
            .text-1xl.text-yellow-500.my-4.mx-4
              = link_to icon("fas", "edit", class: "edit"), edit_article_path(article)
            .text-1xl.text-yellow-500.my-4.mx-4
              = link_to icon("fas", "trash-alt", class: "fa-thin"), article_path(article),
                method: :delete,
                data: { confirm: t('defaults.delete_confirm') }
          - else
            = render 'articles/favorite_button', { article: article }
