.flex.mt-12
  %article.bg-white.group.relative.rounded-lg.overflow-hidden.shadow-lg.mb-12.white-board.grid.grid-cols-1.sm:grid-cols-2.md:grid-cols-3
    %h2.md:text-xl.sm:text-6xl.font-extrabold.text-gray-600.text-center.mt-16
      = link_to article.title, article_path(article)
    .relative.flex.justify-center.my-8
      = image_tag article.image.to_s
    .px-3.py-4
      %h3.text-sm.text-gray-500.pb-2
      - if article.description.present?
        %p.md:text-xl.sm:text-3xl.text-base.text-gray-600
          = safe_join(article.description.split("\n"))
      %p.md:text-xl.sm:text-3xl.text-base.text-gray-600.text-right
        = l article.created_at, format: :long
      %p.md:text-xl.sm:text-3xl.text-base.text-gray-600.text-right
        = safe_join(article.user.name.split("\n"))
      .flex.flex-wrap.justify-center.my-8
        - if logged_in?
          - if current_user.own?(article)
            .md:text-xl.sm:text-3xl.text-yellow-500.my-4.mx-4
              = link_to icon("fas", "edit", class: "edit"), edit_article_path(article)
            .md:text-xl.sm:text-3xl.text-yellow-500.my-4.mx-4
              = link_to icon("fas", "trash-alt", class: "fa-thin"), article_path(article),
                method: :delete,
                data: { confirm: t('defaults.delete_confirm') }
          - else
            = render 'articles/favorite_button', { article: article }
