= form_with model: article, local: true do |f|
  = render 'shared/error_messages', object: f.object
  = f.label :title, 'Title'
  .bg-white.rounded.border.border-green-500.mb-8
    = f.text_area :title, :size=>"60x2"
  .focus:border-indigo-300.focus:ring.focus:ring-indigo-200.focus:ring-opacity-50.py-6
    = f.label :image
    = f.file_field :image
  .focus:border-indigo-300.py-6
    = f.label :description, 'Description'
    %br
    .bg-white.rounded.border.border-green-500.mb-8.text-center
      = f.text_area :description, :size=>"60x20"
    = f.submit 'Register', class: 'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mx-auto flex justify-center'
