.flex.flex-col.min-h-screen
  %main.flex-grow.bg-blue-100.bg-white.rounded.overflow-hidden.shadow-lg.p-8.rounded-lg.mx-8.my-8
    = form_with model: @user, local:true do |f|
      .bg-white.rounded.border.border-blue-500
        = render 'shared/error_messages', object: f.object
      .focus:border-indigo-300.focus:ring.focus:ring-indigo-200.focus:ring-opacity-50.ml-12.py-6
        = f.label :name, 'Nickname'
        = f.text_field :name
      .focus:border-indigo-300.focus:ring.focus:ring-indigo-200.focus:ring-opacity-50.ml-20.py-6
        = f.label :email, 'Email'
        = f.text_field :email
      .focus:border-indigo-300.focus:ring.focus:ring-indigo-200.focus:ring-opacity-50.ml-12.py-6
        = f.label :password, 'Password'
        = f.password_field :password
      .focus:border-indigo-300.focus:ring.focus:ring-indigo-200.focus:ring-opacity-50.ml-12.py-6
        = f.label :password, 'Password'
        = f.password_field :password_confirmation
      .border.border-blue-500
      .bg-blue-500.hover:bg-blue-700.text-white.font-bold.text-center.rounded-full.w-20.mt-8.mx-auto
        = f.submit 'Register'
