.flex.flex-col.min-h-screen
  %main.flex-grow.bg-yellow-100.bg-white.rounded.overflow-hidden.shadow-lg.p-8.rounded-lg
    = form_with model: @user, local:true do |f|
      = render 'shared/error_messages', object: f.object
      .focus:border-indigo-300.focus:ring.focus:ring-indigo-200.focus:ring-opacity-50
        = f.label :name, 'Nickname'
      .bg-white.rounded.border.border-green-500.mb-8
        = f.text_field :name
      .focus:border-indigo-300.focus:ring.focus:ring-indigo-200.focus:ring-opacity-50
        = f.label :email, 'Email'
      .bg-white.rounded.border.border-green-500.mb-8
        = f.text_field :email
      .focus:border-indigo-300.focus:ring.focus:ring-indigo-200.focus:ring-opacity-50
        = f.label :password, 'Password'
      .bg-white.rounded.border.border-green-500.mb-8
        = f.password_field :password
      .focus:border-indigo-300.focus:ring.focus:ring-indigo-200.focus:ring-opacity-50
        = f.label :password, 'Password'
      .bg-white.rounded.border.border-green-500.mb-8
        = f.password_field :password_confirmation
      .bg-green-500.hover:bg-green-700.text-white.font-bold.text-center.rounded-full.w-20.mt-8.mx-auto
        = f.submit 'Register'
