%header.text-yellow-500.body-font
  .container.mx-auto.flex.flex-wrap.p-5.flex-col.md:flex-row.items-center
    %a.flex.title-font.font-medium.text-center.text-yellow-500.md:mb-0
      = image_tag 'animagram_rectangle.png', size: '320x240'
    %nav.md:ml-auto.flex.flex-wrap.items-center.text-base.justify-center.mb-4
    #navArea
      %nav
        .hamburger
          %span
          %span
          %span
        %nav.globalMenuSp
          %ul
            %li
              = link_to '写真を投稿する', new_article_path
            %li
              = link_to 'TOP', root_path
            %li
              = link_to 'お気に入り写真一覧', favorite_articles_path
            %li
              = link_to 'Logout', logout_path, method: :delete, id:
