- provide(:title, 'Login')
.flex.flex-col.min-h-screen
  %main.flex-grow.bg-yellow-100.bg-white.rounded.overflow-hidden.shadow-lg.p-8.rounded-lg.mx-8.my-8
    = form_with url: login_path, local:true do |f|
      = f.label :email, 'Email'
      .bg-white.rounded.border.border-green-500.mb-8
        = f.text_field :email
      .focus:border-indigo-300.focus:ring.focus:ring-indigo-200.focus:ring-opacity-50.ml-12.py-6
      = f.label :password, 'Password'
      .bg-white.rounded.border.border-green-500.mb-8
        = f.password_field :password
      = f.submit 'Login', class: 'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mx-auto flex justify-center'
